html {

    font-family: 'Source Sans Pro', sans-serif;
}

div.sidebar {
   -webkit-box-shadow: 10px 0px 10px -5px #a9a9a9;
   -moz-box-shadow: 10px 0px 10px -5px #a9a9a9;
   box-shadow: 10px 0px 10px -5px #a9a9a9;
}

 .sidebar-toggle {
    position: fixed;
    -webkit-box-shadow: 0px 6px 6px -3px #a9a9a9;
    -moz-box-shadow: 0px 6px 6px -3px #a9a9a9;
    box-shadow: 0px 6px 6px -3px #a9a9a9;
  }



div.img-container {
    color: #515151;
    display: block;
    margin: auto;
    border-radius: 3px;
    width: 66%;
    background-color: white;
    margin-bottom: 15px;
}
div.img-caption {
    text-align: center;
}
img {
    display: block;
    margin: auto;
    width: 100%;
    -webkit-box-shadow: 0px 6px 6px -3px #a9a9a9; 
    -moz-box-shadow: 0px 6px 6px -3px #a9a9a9;
    box-shadow: 0px 6px 6px -3px #a9a9a9;
}
    border-radius: 3px;
}
p.color
{
	color:    #6a9fb5;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #fff;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 20px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}



.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag::before {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-right: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
}

.tag:hover {
  background-color:  #00394d;
}
.tag:hover::before {
  border-right-color: #00394d;
}

.tag:hover::after {
   border-left-color:  #00394d; 
}

    
